body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/Rectangle\ 1.png);

    background-repeat: none;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 100px;

}

.row {
    padding-left: 150px;
    padding-top: 300px;
    color: white;
}

.first-heading {
    font-size: 45px;
    font-weight: bold;
}

.paragraph-1 {
    margin-bottom: 35px;
    margin-top: 20px;
}

.link-button-1 {
    color: white;
    border: 1px solid tomato;
    background-color: tomato;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.second-container {
    display: flex;
    width: 100%;
    margin-bottom: 25px;

}


.half-1 {
    width: 50%;

}

.half-1 img {
    width: 80%;
}

.lives {
    padding-left: 80px;
    margin-top: 20px;
}

.heading {
    font-size: 25px;
    font-weight: bold;
    -ms-text-kashida-space: 15px;
}

.dolor {
    margin-bottom: 20px;
}

.paragraph {
    font-size: 10px;
}

.half {
    width: 50%;
}

.half img {
    width: 80%;

}

.pic-two {
    padding-left: 80px;

}

.paragraph-text {
    margin-bottom: 35px;

}

.paragraph-anis {
    margin-bottom: 20px;
}

.depend {
    text-align: center;
}

.sit {
    margin-bottom: 20px;
}

.third-container {
    display: flex;
}

.amet {
    border: 1px solid pink;
    background-color: pink;
    margin: 10px;
    display: flex;
    padding: 15px;
    border-radius: 5px;
}

.elit {
    margin-left: 80px;

}

.lab {
    margin-bottom: 40px;
}

.enim {
    margin-right: 80px;
}

.anis {
    width: 50%;
}

.fourth-container {
    display: flex;

}

.ibrahim {
    margin-bottom: 40px;
}

.fourth-container img {
    width: 105%;
}

.bank {
    margin: 40px;
}

.image-three {
    margin: 25px;
}

.zakat {
    margin-bottom: 25px;
}

.zakat-one {
    margin-right: 30px;
}

.fifth-container {
    display: flex;
}

.fifth-container img {
    width: 100%;

}

.rerum {
    margin-left: 50px;


}

.anis-in {
    padding-left: 15px;

}

.george {
    margin-bottom: 20px;
}

.zakat-collect {
    color: tomato;
    font-weight: bold;

}

.adha {
    font-family: 'Dancing Script', cursive;
    color: tomato;

}

.finish {
    margin-bottom: 50px;
}

.do {
    color: white;
}

.end {
    text-align: center;
    background-color: black;

}